<div class="card">
  <div class="card-header">
    Showing Swap Request
    <a style=" float: right" class="btn btn-outline-primary mb-2 mr-2"  >Add New</a>  <br><br>
  </div>

  <div class="card-body">

    <table id="example" datatable class="table table-striped table-bordered" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
      <tr>
        <th>empFullnameBy</th>
        <th>swap_by_date</th>
        <th>swap_by_shift</th>
        <th>empFullnameFor</th>
        <th>swap_for_date</th>
        <th>swap_for_shift</th>

        <th>Action</th>



      </tr>
      </thead>

      <tbody>

      </tbody>

    </table>



  </div>
</div>
