<div class="card">
  <div class="card-header">
    Joining Info
  </div>

  <div class="card-body">
    <div class="row">

      <div class="form-group col-md-6">
        <label>Actual Join Date</label>

        <input class="form-control"
               bsDatepicker
               [(ngModel)]="employeeJoiningForm.actualJoinDate"
               [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD'}">
      </div>



      <div class="form-group col-md-6">
        <label>Resign Date</label>
        <input bsDatepicker
               [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"  name="resignDate" [(ngModel)]="employeeJoiningForm.resignDate" class="form-control">
      </div>

      <div class="form-group col-md-6">
        <label>Supervisor</label>
        <input type="text" name="supervisor" placeholder="name" [(ngModel)]="employeeJoiningForm.supervisor" class="form-control">
      </div>

      <div class="form-group col-md-3">
        <label>Status</label>
        <select class="form-control" [(ngModel)]="employeeJoiningForm.fkActivationStatus">
          <option value="1">Active</option>
          <option value="2">Inactive</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label>Probation Period</label>
        <input type="text" name="probationPeriod" placeholder="month" [(ngModel)]="employeeJoiningForm.probationPeriod" class="form-control">
      </div>

      <div class="form-group col-md-6">

        <!--<input type="text" name="weekend" placeholder="day" [(ngModel)]="employeeJoiningForm.weekend" class="form-control">-->
        <label>Weekend</label>
        <ng-multiselect-dropdown
          [placeholder]="'Select Weekend'"
          [data]="dropdownList"
          [(ngModel)]="selectedItems"
          [settings]="dropdownSettings"


        >
        </ng-multiselect-dropdown>
      </div>


      <div class="form-group col-md-4">
        <label>Card Number</label>
        <input type="text" name="accessPin" placeholder="pin" [(ngModel)]="employeeJoiningForm.accessPin" class="form-control">
      </div>
      <div class="form-group col-md-4">
        <label>Attendance Device Pin</label>
        <input type="text" name="accessPin" placeholder="pin" [(ngModel)]="employeeJoiningForm.attDeviceUserId" class="form-control">
      </div>
      <div class="form-group col-md-4">
        <label>Attendance IN Device</label>
        <input type="text" name="accessPin" placeholder="pin" [(ngModel)]="employeeJoiningForm.inDeviceNo" class="form-control">
      </div>
      <div class="form-group col-md-4">
        <label>Attendance OUT Device</label>
        <input type="text" name="accessPin" placeholder="pin" [(ngModel)]="employeeJoiningForm.outDeviceNo" class="form-control">
      </div>







      <div class="col-md-12">
        <button class="btn btn-success" (click)="submit()">Save</button>
      </div>


      <!--Leave Limit-->
      <div class="form-group col-md-12">
        <h5 align="center">Leave Limit</h5>
        <hr>
      </div>

      <div class="form-group col-md-6">
        <label>Total Leave</label>
        <input type="text" [(ngModel)]="totalLeaveAssigned"  placeholder="total leave" class="form-control">
      </div>


      <div class="form-group col-md-6">
        <label>Leave Taken</label>
        <input type="number" [(ngModel)]="leaveTaken"  placeholder="total leave taken" class="form-control" readonly>
      </div>

      <div class="col-md-12">
        <button class="btn btn-success" (click)="submitLeaveLimit()" >Save Leave Limit</button>
      </div>


    </div>
  </div>
</div>
